<!--
  Generated template for the MenuPageHeader component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.

  For the direct page from side menu
-->

<ion-navbar>
  <button ion-button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>

  <ion-title>{{title}}</ion-title>

  <ion-buttons menuClose right>
    <button ion-button>
      <ion-icon name="person">
        Admin
      </ion-icon>
    </button>
    <button ion-button>
      <ion-icon name="log-out">
        Logout
      </ion-icon>
    </button>
    <button ion-button (click)="showSettings($event)">
      <ion-icon name="settings">
      </ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
